.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.textbox {
  width: 80%;
  min-width: 800px;
  height: auto;
  min-height: 500px;
  font-size: 24px;
  font-family: Arial, Helvetica, sans-serif;
}
.count-box {
  margin: 15px;
  font-size: 25px;
}
